<%- include('header', { title: 'About - TODO Application' }) %>

<div class="container">
    <h1>About TODO Application</h1>
    <h2>Created by:</h2>
    <p>Dang Nguyen</p>
    <p>Valtteri Kähärä</p>
    <p>Julius Vitikainen</p>
    <br>
    <a href="https://github.com/vkahara/todo-backend">https://github.com/vkahara/todo-backend</a> 
</div>

<%- include('footer') %>