<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>© 2023 TODO-application</p>
    </footer>

</body>
</html>
