<%- include('header', { title: 'Notes - TODO Application' }) %>

<div class="container"></div>
    <h1>Your Notes</h1>
    <form action="/create-note" method="POST">
        <input type="text" name="noteText" placeholder="Enter your note here">
        <button type="submit">Add Note</button>
    </form>

    <% if (notes && notes.length > 0) { %>
        <ul>
            <% notes.forEach(function(note) { %>
                <li>
                    <input type="checkbox" <% if(note.done) { %>checked<% } %> > 
                    <%= note.text %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>You have no notes yet.</p>
    <% } %>
</div>

<%- include('footer') %>