body {
    background-color: #282C34; 
    color: #ABB2BF; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header, footer {
    background-color: #21252B; 
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #61AFEF; 
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #E06C75; 
}

.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #3B4048; 
    border-radius: 10px;
    background: #1F2329; 
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); 
}

button, input[type="submit"], input[type="button"] {
    background-color: #61AFEF; 
    color: #282C34; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #E06C75; 
}

input, textarea {
    background-color: #2C313A; 
    color: #ABB2BF; 
    border: 1px solid #3B4048; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.note-form, .delete-form {
    margin-bottom: 10px;
}

.note-form input[type="text"] {
    max-width: 500px; 
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 10px; 
    display: block; 
}

.note-form button {
    margin-bottom: 30px
}

.note-item {
    background-color: #2C313A; 
    color: #ABB2BF; 
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.note-text {
    flex-grow: 1;
    text-align: center; 
}

.note-controls {
    display: flex;
    align-items: center;
}

.note-controls form {
    margin: 0;
    padding: 0;
}

.note-controls input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ABB2BF;
    margin: 0;
    font-size: 2em; 
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    display: grid;
    place-content: center;
    border: 3px solid #3B4048;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.note-controls input[type="checkbox"]:hover {
    background-color: #61AFEF;
    transform: scale(1.2);
    border-color: #61AFEF;
}

.note-controls input[type="checkbox"]:checked {
    background-color: #61afef;
    border-color: #7dc2fc;
}

.note-controls input[type="checkbox"]:checked::before {
    content: '✓';
    color: #282C34;
    font-size: 0.5em;
}

.delete-btn {
    background-color: #E06C75;
    color: #282C34;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.delete-btn:hover {
    background-color: #61AFEF;
    transform: scale(1.1);
}

.note-done .note-text {
    text-decoration: line-through;
    color: #777777;
}

/* responsive very good yes */
@media (max-width: 800px) {
    .container {
        width: 90%;
        
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
    }

    .note-item {
        
        flex-direction: column;
        align-items: stretch;
    }

    .note-text {
        text-align: center; 
        margin: 10px 0; 
    }

    .note-controls {
        justify-content: space-between;
    }
}

footer {
    margin-top: auto;
    padding: 10px;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}